@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

/**
* search
*/
section.search, section.emptyState {
    height: calc(100% - 50px );
}


/**
* result
*/
.result {

    ul {
      margin: 0;
      padding: 0;

      // li {
      //   display: list-item !important;
      //   color: transparent;
      //   list-style-type: decimal !important;
      //   transition: color .2s;
      //   font-size: .75rem;

      //   &:hover {
      //     color: #ccc;
      //   }
      // }

    }

    h2 {
        font-size: 140%;
        color: #666666;

        span {
            color: #000000;
            font-weight: 700;
        }
    }

    .card.item {
        border-color: #eaeaea;
        background-color: #fffbfb;
        margin-bottom: 10px;

        transition: all .2s;

        &:hover {
            cursor: pointer;
            border-color: transparent;
            transform: scale(1.005);
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
    }
}

.row-result {
    color: #000;
    font-size: .8rem;
    min-height: 50px;

    &.row-label {

        span {
            color: #4a4a4a;
            font-size: .75rem;

            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }

            &.selected::after {
                content: ' ⏷';
                color: #000;
            }

            &.selected.reverse::after {
                content: ' ⏶';
                color: #000;
            }
        }
    }

    .fig {
        position: relative;
        height: 34px;

        &:hover{
            img {
                width: 60px;
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.5)!important;
            }
        }

        img {
            width: 30px;
            border-radius: 50px;
            transition: all .5s;
            pointer-events:none;
        }
    }
}
